body{
  background-image: linear-gradient(to bottom right, #74ebd5, #5163b4);
  padding-bottom: 25px;
}
.App{
  text-align: center;
  margin: auto;
}
h1{
  margin-bottom: 45px;
  color: rgb(233, 240, 247);
}
.timer {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  border: 3px solid aliceblue;
  padding: 5px;
  border-radius: 15px;
  background-color: #4d998fd2;
  color: whitesmoke
}
.Timer{
  border: 3px solid aliceblue;
  border-radius: 100px;
  padding: 25px;
  
}
.face{
  background-color: rgba(6, 35, 53, 0.596);
  padding: 5px;
  border-radius: 15px;
  flex-grow: 2;
  margin: 15px;
}

.interval{
  background-color: rgba(6, 35, 53, 0.596);
  padding: 5px;
  border-radius: 15px;
  margin-top: 15px;
  margin: 15px;
}

button{
  background-color: #FAD961;
  border: none;
  margin: 2px;
  border-radius: 5px;
}



